@media screen and (min-width:1700px){
    * {
        font-size: 1.4rem;
    }    
}

.my-margin{
    margin-left:2%;
    margin-right:2%;
}


*{
    /*--nav-color: #FCF5E9;*/
    --nav-color: white;
    --blue-color:#66BFBF;
     /*--blue-color:#3E497A;*/
    --navbar-hover-color:blue;
    --navbar-active-color:#E8AA42;
    --navbar-active-color-darker:#c59137;
    --navbar-button-color:#3E497A;
    padding:0;
    margin:0;
}
html {
    scroll-behavior: smooth;

}

.my-section{
    margin:5vh 0;
}
.my-padding{
    padding:0 2.5%;
}
/* ---------------------------------------------Navbar-------------------------------------------------- */
.navbar-content{
/*     border-bottom-left-radius: 30%; */
/*     border-bottom-right-radius: 30%; */
    border:0;
    border-bottom: .3rem solid var(--navbar-button-color);
    padding-top: 5px;
    /*height:15vh;*/
    z-index:300;
    background:var(--nav-color);
    position:sticky;
    top:0;
    left:0;
    width:100%;
    display:flex;
    flex-direction:row;
    justify-content:flex-end;
    font-size:1.2rem;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    /* margin-bottom:2vh; */
}
.navbar-content .links{
    justify-content: center;
    align-items: center;
    display:flex;
    width: 68%;
}
.navbar-content .my-logo{
    width: 30%;
    /*color:var(--blue-color) !important;*/
    /*font-weight:bold;*/
    margin-left:0 !important;
    margin-right:auto !important;
    /*font-size:1.1em !important;*/
    padding: 0.8em;
    margin-top: 0 !important;
    margin-bottom:0 !important;
    display: initial !important;
}
.links a{
    height:60%;
    font-size: 1rem;
}
.navbar-content .tab{
    /* height:60%; */
}
.links .tab:last-child{
    color:white !important;
    /* background-color: #3E497A !important; */
    background-color: var(--navbar-button-color) !important;
    border-radius: 30px;
    padding:0.2em .7em !important;
    /*height: auto;*/
    /*min-height: 41%*/
    /*border-bottom-right-radius: 40%;*/
}
.navbar-content .tab.active{
    /* background-color:#2155CD !important; */
    border-bottom:3px solid var(--navbar-active-color);
    /* color:white !important; */
}
.my-logo:hover{
    text-shadow: 1px 1px var(--navbar-button-color);
}
.navbar-content .tab:hover{
    color:var(--blue-color);
    /* background-color:var(--blue-color); */
}
/*.navbar-content .tab,#bars,.navbar-content .my-logo{*/
.navbar-content .tab,#bars,.navbar-content .my-logo{
    /* margin:0.5em 0.3em; */
    /* border-radius:2px 2px 0px 0px; */
    display:flex;
    justify-content:center;
    align-items:center;
    margin: 0 .4em;
    padding: 0 .3em;
    border-radius:none;
    background-color: var(white);
    color: #3E497A;
    font-weight: bold;
    border: none;
    outline: none;
    text-decoration: none;
    position: relative;
    cursor: pointer;
    border-bottom: 3px solid transparent;
    transition:0.2s all linear;
}
.navbar-content #bars{
    cursor:pointer;
    display:none;
    transition: all 1s;
}
@media screen and (max-width: 1212px){
/*    .navbar-content{
        border:0 !important;
    }*/
    .links .tab:last-child{
        height: auto !important;
    }

    .navbar-content .my-logo{
        /*font-size:0.9em !important;*/
        width: 70%;
        min-width: 200px;
    }
    #bars{
        display:flex !important;
    }
    .navbar-content .links{
        display:flex;
        transition:all 0.3s;
        visibility:hidden;
        opacity:0;
        position:absolute;
        flex-direction:column;
        top:8vh;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        /* margin-top:2px; */
        /* height:92vh; */
        height:10vh;
        width:100%;
        background:white;
    }
    .navbar-content .links.show-links{
        width:100%;
        height:40vh;
        visibility:visible;
        opacity:1;
    }
    .navbar-content .links a{
        width:100%;
        height:10vh;
        box-shadow: rgba(0, 0, 0, 0.45) 2px 2px 2px -2px;
    }

 
}
/* ---------------------------------------------top-------------------------------------------------- */
/* ---------------------------------------------problem-------------------------------------------------- */
.my-section#problem{
    margin-top:0;
}
#problem h1 i{
    color:var(--blue-color);
    font-weight: 700;
}
#problem iframe{
    height:70vh;
    width:100%;
    aspect-ratio: 560/315 ;
}
/* ---------------------------------------------HelpUs-------------------------------------------------- */
#helpUs{
    position:relative;
    /* font-size:1.3em; */
    color:white;
    display:flex; 
    flex-direction:column;
    justify-content:center; 
    align-items:center;
    background-image: url('../img/highquality_newfaces.jpeg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center center;
    aspect-ratio:20/8;
    width:100%;
    text-align:center;
}
.background-color{
    display:flex; 
    flex-direction:column;
    justify-content:center; 
    align-items:center;
    background-color:rgba(0, 0, 0, 0.404);
    height:100%;
    width:100%;
}
.background-color > div{
    min-height:60%;
    border-radius:5px;
    padding:20px;
    background-color:rgba(255, 255, 255, 0.171);
    display:flex; 
    flex-direction:column;
    justify-content:center; 
    align-items:center;
}
#helpUs i{
    color:var(--blue-color);
    position:absolute;
    bottom:-5%;
    font-size:4em;
    font-weight:700;
    animation-name: point-down;
    animation-iteration-count: infinite;
    animation-duration: 1.5s;
    animation-timing-function: linear;
}
#helpUs p,#helpUs a{
    font-size:1.2em !important;
}
@keyframes point-down{
    0%,100%{
        /* bottom:2%; */
        transform: translateY(0px);
    }
    50%{
        transform: translateY(5px);

    }
}
@media screen and (max-width: 600px) {
    #helpUs{
        aspect-ratio:20/15 !important;
    }
    #helpUs i{
        font-size:3em;
        bottom:-5%;
    }
}
/* ---------------------------------------------solution-------------------------------------------------- */
 .solution-inside{
    display:grid;
    grid-template-columns: 50% 50%;
}
 .solution-inside > div{
    padding:5%;
}
@media screen and (max-width: 600px) {
    .my-padding{
        padding:0 5%;
    }
     .solution-inside{
        grid-template-columns: 100% !important;
    }
     .solution-inside > div:nth-child(1){
        grid-row:2;
        padding: 0 5%;
    }
     .solution-inside > div:nth-child(2){
        padding-top: 0;
    }
}
.solution-inside .img{
    padding:0;
}
.solution-inside iframe{
    width:100%;
    height:100%;
    border-radius:5px;
}
/* ---------------------------------------------Our Team-------------------------------------------------- */
#ourTeam h1 i {
    color: var(--blue-color);
    font-weight: 700;
}
#ourTeam small{
    font-family: 'Grand Hotel',cursive;
    color:#999999;
    font-size:1.2em;
}
#ourTeam .images{
    display:grid;
    justify-content:center;
    grid-column-gap: 6%;
    grid-row-gap: 3%;
    grid-template-columns: 25% 25% 25%;
}
#ourTeam .images p{
    margin-bottom:0;
}
#ourTeam .images h6{
    margin-bottom:0;
    margin-top:2%;
}
#ourTeam .images > div,#ourTeam .images > a{
    padding:3%;
    transition:0.3s all;
    color:inherit;
    text-decoration: none;
    cursor:pointer;
}
#ourTeam .images > div:hover,#ourTeam .images > a:hover{
    transform: translateY(-2px);
    border-radius:3px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#ourTeam .images img{
    width:50%;
    /* height:80%; */
    aspect-ratio: 1/1;
    border-radius:50%;
    box-shadow: rgba(0, 0, 0, 0.15) 3px 3px 3px;
}
@media screen and (max-width: 620px){
    #ourTeam .images{
        grid-template-columns: 45% 45%;
    }
    .images img{
        width:60% !important;
    }
    .ksenia{
        grid-row: 1 !important;
        grid-column: 2 !important;
    }
}
/* ---------------------------------------------Footer-------------------------------------------------- */
#takeSelfie{
    margin-bottom:0;
    padding:5vh;
    display:flex;
    justify-content: center;
    background-size:400% 400%;
    animation: gradient-animation 15s ease infinite;
    background-image: linear-gradient(90deg, rgba(57,114,204,0.2) 0%, rgba(218,216,71,0.2) 50%, rgba(0,212,255,0.2) 100%);
    /* background-image: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); */
    /* background-image: linear-gradient(90deg, rgba(57,114,204,0.300455216266194) 0%, rgba(218,216,71,0.32566530029980745) 50%, rgba(0,212,255,0.2752451322325805) 100%); */
}
#takeSelfie .content{
    padding:2vh;
    width:60%;
    display:grid;
    justify-content:center;
    grid-template-columns: 45% 45%;
    align-items:center;
    column-gap:5px;
    background:rgba(255, 255, 255, 0.664);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius:3px;
}
#takeSelfie .content img{
    border-radius: 3px;
    width:100%;
}
#takeSelfie .content a{
    text-decoration: none;
    color:black;
}
#takeSelfie .content a p{
    border-radius:5px;
    padding: 1em;
    font-size:2em;
    font-weight: 700;
    background:var(--navbar-active-color);
    width:60%;
}
#takeSelfie .content a:hover p{
    background:var(--navbar-active-color-darker);
}
/* #takeSelfie .content a:hover #takeSelfie .content{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}  */
@keyframes gradient-animation{
    0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
@media screen and (max-width: 1000px){
    #takeSelfie .content{
        width:70%;
    }
}
@media screen and (max-width: 750px){
    #takeSelfie .content{
        width:90%;
    }
}
@media screen and (max-width: 600px){
    #takeSelfie .content{
        width:100%;
        font-size:10px;
    }
}
@media screen and (max-width: 450px){
    #takeSelfie .content h1,#takeSelfie .content p{
        font-size:1.4em !important;
    }
}
/* ---------------------------------------------Become us-------------------------------------------------- */
#becomeUs a{
    background-color:var(--navbar-active-color);
    font-size: 1.5rem;
    padding:17px;
}
/* ---------------------------------------------Footer-------------------------------------------------- */
#goToTop{
    display: flex;
    justify-content: center;
    align-items: center;
    opacity:0;
    visibility: hidden;
    position:fixed;
    bottom:5vh;
    right:5%;
    border-radius:50%;
    aspect-ratio: 1/1;
    padding:10px;
    cursor:pointer;
    transition:all 0.5s;
    color:white;
    background:rgb(112, 112, 112);
}
#goToTop:hover{
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.my-footer{
    font-size:26px;
    background:rgb(66, 66, 66);
    color:white;
    padding:30px 20%;
    padding-bottom:40px;
    display:grid;
    grid-template-columns: auto auto;
    column-gap: 10%;;
}
.my-footer li{
    cursor:pointer;
}
.my-footer h1{
    font-size:1.1em;
    text-align:center;
}
.my-footer li a{
    color:white;
}
.my-footer li a:hover{
    color:rgb(163, 154, 154);
}
.my-footer p,.my-footer a{
    font-size:0.8em !important;
    text-decoration:none !important;
}
.my-footer .email{
    display:grid;
    grid-template-columns:30% 70%;
    
}

#email-adrs{
    color:white !important;
}

@media (min-width: 1300px) {
    div .container-lg .my-padding .my-section .mx-auto{
    max-width: 2320px;
    }
}

@media screen and (max-width: 1000px) {
    .my-footer{
        padding-right:10%;
        padding-left:10%;
    }
}
@media screen and (max-width: 1000px) {
    .my-footer{
        font-size:20px;
        column-gap:10%;
    }
}
@media screen and (max-width: 500px) {
    .my-footer{
        grid-template-columns: 100%;
        font-size:18px;
        /* column-gap:10%; */
    }
}
